.navbar-brand ,.nav-link ,.navbar-nav .nav-link.active{
    color: #ea2b37;
    font-size: 25px;
    height: 65px;
}
.top-container{
    margin-top: 20px;
    text-align: center;
    height: 100px;
    background-color: #ea2b37;
}

.prod-title{
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    font-size: 5rem;
}

body{
    color: rgb(255, 82, 82);
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.ourteam-title{
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 5rem;
}

img{
    width: 50%;
    border-radius: 60%;
}

#icon{
    width: 5%;
    height:auto;
    border-radius: 0%;
    margin-left: 10px;
}

.banner{
    width: 100%;
    border-radius: 0%;

}

.team-img{
    margin-top: 50px;
    margin-left: 20px ;
    margin-right: 20px;
}
.name{
    font-size: 6rem ;
    text-align: right;
    display: inline-block;
    position: relative;
    left: 100px;
}

.position{
    font-size: 6rem ;
    text-align: left;
    display: block;
    position: relative;
    left: 100px;
}

#about {
    padding: 120px 0px;
}
.features-item {
    border-radius: 7px;
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffffbd;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    margin-bottom: 45px;
}
img, svg {
    vertical-align: middle;
    padding-bottom: 2rem;
}
a.button-features {
    font-size: 16px;
    border-radius: 25px;
    padding: 15px 75px;
    background-color: rgb(250, 116, 116);
    color: #fff;
    font-weight: 650;
    letter-spacing: 1.5px;
    text-decoration: none;
    
}

.member-name{
    font-size: 50px;
    font-weight: lighter;
    color: #CD5888;

}

p{
    padding-bottom: 2rem;
}
.button-features:hover {
    background-color: red;
    
  }
  .features-item:hover{
    transform: translateY(-1em) scale(1.03);
  }
.productPic{
    border-radius: 0%;
}
.productPagePic{
    border-radius: 0%;
    width: 20%;
    vertical-align: center;
}
.contactForm{
    margin-left: 2%;
}
h3{
    text-align: center;
}
h3:target{
    color: white;
    background: #CD5888;;
}
h6{
    text-align: center;
}
hr{
    border-style: dotted none none;
    background-color: transparent;
    border-width: 5px;
    height: 0px;
    width: 30%;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
