<<<<<<< HEAD
p{
    font-size: 30px;
    font-weight: bold;
    
=======
.navbar-brand ,.nav-link ,.navbar-nav .nav-link.active{
    color: #ea2b37;
    font-size: 25px;
    height: 65px;
>>>>>>> 90acb9fe645ae0e99cb082bae1cbc551a0ccccf0
}
.top-container{
<<<<<<< HEAD
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    height: 100px;
=======
    margin-top: 20px;
    text-align: center;
    height: 100px;
    background-color: #ea2b37;
>>>>>>> 90acb9fe645ae0e99cb082bae1cbc551a0ccccf0
}

.prod-title{
    color: rgb(247, 247, 247);
    font-family: 'Noto Sans', sans-serif;
    font-size: 5rem;
}

body{
    color: rgb(255, 82, 82);
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.ourteam-title{
<<<<<<< HEAD
    padding: 50px;
    color: #fa7474;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
}

img{
    width: 20%;
    border-radius: 60%;
}

=======
    color: darkblue;
    font-family: 'Noto Sans', sans-serif;
}

img{
    width: 50%;
    border-radius: 60%;
}

#icon{
    width: 5%;
    height:auto;
    border-radius: 0%;
    margin-left: 10px;
}

.banner{
    width: 100%;
    border-radius: 0%;

}

.team-img{
    margin-top: 50px;
    margin-left: 20px ;
    margin-right: 20px;
}
>>>>>>> 90acb9fe645ae0e99cb082bae1cbc551a0ccccf0
.name{
    font-size: 6rem ;
    text-align: right;
    display: inline-block;
    position: relative;
    left: 100px;
}

.position{
    font-size: 6rem ;
    text-align: left;
    display: block;
    position: relative;
    left: 100px;
}
<<<<<<< HEAD

#about {
    padding: 120px 0px;
}
.features-item {
    border-radius: 7px;
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffffbd;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    margin-bottom: 45px;
}
img, svg {
    vertical-align: middle;
    padding-bottom: 2rem;
}
a.button-features {
    font-size: 16px;
    border-radius: 25px;
    padding: 15px 75px;
    background-color: rgb(250, 116, 116);
    color: #fff;
    font-weight: 650;
    letter-spacing: 1.5px;
    text-decoration: none;
    
}

.member-name{
    font-size: 50px;
    font-weight: lighter;
    color: #CD5888;

}

p{
    padding-bottom: 2rem;
}
.button-features:hover {
    background-color: red;
    
  }
  .features-item:hover{
    transform: translateY(-1em) scale(1.03);
  }
=======
.productPic{
    border-radius: 0%;
}
.productPagePic{
    border-radius: 0%;
    width: 20%;
    vertical-align: center;
}
.contactForm{
    margin-left: 2%;
}
>>>>>>> 90acb9fe645ae0e99cb082bae1cbc551a0ccccf0
