p{
    background-color: red;
}

.title-head{
    font-size: 5rem;
    margin-top: 60px;
    text-align: center;
    height: 100px;
    background-color: aquamarine;
}

body{
    background-color: antiquewhite;
}